#main-canvas {
    max-height: 60vh;
}

@media (pointer:none), (pointer:coarse) {
    #main-canvas {
        padding-top: 3em;
        width: 100%;
        max-height: 100vh;
    }

    body {
        font-size: 2em;
    }

    .ui-button {
        font-size: 1em;
    }

    .interaction-select-button {
        font-size: 1em;
    }
}
