#main-canvas {
    width: 300px;
}

@media (pointer:none), (pointer:coarse) {
    #main-canvas {
        width: 100%;
    }

    body {
        font-size: 2em;
    }

    .ui-button {
        font-size: 1em;
    }

    .interaction-select-button {
        font-size: 1em;
    }
}
